<!-- Page content -->
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-transparent pb-5">

          <div class="text-muted text-center mt-2 mb-3">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}

            {% if msg %}
            <span class="text-danger">{{ msg | safe }}</span>
            {% else %}
            Sign in
            {% endif %}

          </div>

        </div>
        <div class="card-body px-lg-5 py-lg-5">

          <form role="form" method="post" action={{ url_for('login') }}>

            {{ form.hidden_tag() }}

            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>
                {{ form.email(placeholder="Email",class="form-control") }}
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                {{ form.password(placeholder="Password",class="form-control",type="password") }}
              </div>
            </div>

            <div class="text-center">
              <button type="submit" class="btn btn-primary my-4">Sign in</button>
            </div>
          </form>
        </div>
      </div>
      <div class="row mt-3 text-center">
        <div class="col-12" style="display: flex;">
          <div class="col-md-6">
            <a href={{ url_for('register') }} class="text-light"><small>Create new account</small></a>
          </div>
          <div class="col-md-5">
            <a href="" class="text-light" data-toggle="modal" data-target="#exampleModal"><small>Forgot Password.</small> </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="reset_password_paragraph">Please input your account email for reseting your password.</p>
        <input type="text" class="form-control" id="reset_email" placeholder="Email">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" onclick="resetPassword(document.getElementById('reset_email').value)">Submit</button>
      </div>
    </div>
  </div>
</div>

<script>
  function resetPassword(email){
      if( email !== ''){
          $.ajax({
                type: "GET",
                url: "{{url_for('send_email')}}"+"?email="+email,
                // data: {"reset_email" : email},
                success: function (response){
                  document.getElementById('reset_password_paragraph').innerHTML = response.data
                  if(response.status_code == 200){ 
                    document.getElementById('reset_password_paragraph').style.color = "green";
                  }else{
                    document.getElementById('reset_password_paragraph').style.color = "red";
                  }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    alert('error');
                }
            });
      }else{
        document.getElementById('reset_password_paragraph').innerHTML = "Please input email."
        document.getElementById('reset_password_paragraph').style.color = "red";
      }
    }

</script>